<h2>Employee Details</h2>

<!-- horizontal line -->  <hr/>
<div *ngIf="employee">
        <div>
            <label><b>First Name :</b></label>{{employee.fname}}
        </div>

        <div>
            <label><b>Last Name :</b></label>{{employee.lname}}
        </div>


        <div>
            <label><b>Email id :</b></label>{{employee.email}}
        </div>

        <div>
            <label><b>Date of Birth: </b></label>{{employee.dob}}
        </div>


</div>


<br>
<br>
<button (click)="list()" class="btn btn-primary"> Back to employee list</button><br>


