<div style="text-align:center">
        <!-- <h1 class="demo"> Travel Reservation Form </h1> -->
<div class="reserve">
        <h2 class="reserve-header">Travel Reservation Form</h2>

    <form  [formGroup]="form" class="reserve-container" (ngSubmit)="submit()">
        <!-- name -->
      <p [ngClass] ="{'has-error' :isSubmitted && formControls.fname.errors }">
        <input type="text" placeholder="First Name" formControlName="fname">
      </p>

      <div *ngIf="isSubmitted && formControls.fname.errors" class="help-block">
       <div *ngIf="formControls.fname.errors.required">FirstName is required</div> 

      </div>

<!-- email -->
    
<p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors}">
  <input type="email" placeholder="Email" formControlName="email">
</p>
        
<div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
          <div *ngIf="formControls.email.errors.required"> Email is required</div>
</div>

<!-- select dropdown -->
<p [ngClass] ="{'has-error' :isSubmitted && formControls.city.errors }"></p>
<label for="city">Select your city</label>
<select formControlName="city" id="city" >
    <option value="" disabled>Select One</option>
  <option value="16">Delhi</option>
  <option value="32">Mizoram</option>
  <option value="64">Florida</option>
  <option value="128">Michigan</option>
</select><br>

<!-- date -->
<p [ngClass] ="{'has-error' :isSubmitted && formControls.date.errors }"></p>
<label for="date">Arrival Date</label>
  <input formControlName="date" id="date" type="date" /><br>

<!-- number type input -->
<!-- <label for="no">No.of Persons</label> -->
<p [ngClass] ="{'has-error' :isSubmitted && formControls.no.errors }"></p>
  <input formControlName="no" id="no" type="number" placeholder="No.of Person" /><br>

  <!-- check box -->
  What u want to avail ?
  <label class="checkbox-wrapper">
         <input formControlName="subscribe" type="checkbox" />Boarding 
         <input formControlName="subscribe" type="checkbox" />Food
         <input formControlName="subscribe" type="checkbox" />Sight seeing
</label><br>

<!--  text-->

<p [ngClass] ="{'has-error' :isSubmitted && formControls.code.errors }">
        <input type="text" placeholder="Discount Coupon Code" formControlName="code">
      </p>

<!-- radio button -->
<p [ngClass] ="{'has-error' :isSubmitted && formControls.terms.errors }"></p>
<span class="label">Terms and Conditions :</span>
  <label>
    <input formControlName="terms" type="radio" name="terms" value="agree" />I agree
    <input formControlName="terms" type="radio" name="terms" value="disagree" />I disagree
    
  </label><br>

  <p>
        <button (click)="submit()" class="btn">Submit</button>
    </p>


        </form>
    
       
        <!-- <img width="300" alt="Angular Logo" src="/assets/Rose.jpg"> -->
       
    </div>